flows_raspberrypi.json
[{"id":"519de648.d8a6a8","type":"tab","label":"telegram bot roby","disabled":true,"info":""},{"id":"12b9d49.93bce2b","type":"tab","label":"telegram bot fanc","disabled":false,"info":""},{"id":"c33bce7c.ed34f","type":"tab","label":"dashboard fanc","disabled":false,"info":""},{"id":"c35b9338.7b7f8","type":"tab","label":"aggiornamento IP","disabled":false,"info":""},{"id":"6fcb2314.4e9eac","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"727da380.9439ec","type":"tab","label":"Init & Admin","disabled":false,"info":""},{"id":"9df27eb2.adcd9","type":"tab","label":"test","disabled":false,"info":""},{"id":"dcdad18b.8b6e8","type":"telegram bot","z":"","botname":"elenao28_bot","usernames":"","chatids":"852995622,881255306","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"79ea9a33.a99de4","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.113","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6655d76.60f8","type":"ui_tab","z":"","name":"Fanc Place","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"a072c261.de5ee","type":"ui_group","z":"","name":"Dashboard","tab":"c6655d76.60f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e816e0.997bd94","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff859a","baseFont":"Palatino Linotype,Palatino,Book Antiqua,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ff859a","edited":true},"page-titlebar-backgroundColor":{"value":"#ff859a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffd1d9","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff859a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Palatino Linotype,Palatino,Book Antiqua,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"851edc86.101c5","type":"ui_tab","z":"","name":"Surveillance","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"eab095d7.dacbc8","type":"ui_group","z":"","name":"Mobile Webcam","tab":"851edc86.101c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c18788c.327088","type":"alexa-home-conf","z":"","username":"eloda"},{"id":"c7bb8caf.f0a76","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"74479505.3bb24c","type":"ui_group","z":"","name":"Raspberry Commands","tab":"c7bb8caf.f0a76","order":1,"disp":true,"width":"6","collapse":false},{"id":"d40bf548.f0e988","type":"alexa-remote-account","z":"","name":"alexa-fanc","authMethod":"proxy","proxyOwnIp":"192.168.1.113","proxyPort":"3456","cookieFile":"/home/pi/nodered/alexa-fanc.cookie","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"69837906.dc2588","type":"ui_tab","z":"","name":"Authentication","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"60a9ae6.92cf15","type":"ui_group","z":"","name":"","tab":"69837906.dc2588","order":1,"disp":false,"width":"6","collapse":false},{"id":"e6280421.e5fa38","type":"ui_group","z":"","name":"","tab":"69837906.dc2588","order":2,"disp":true,"width":"6","collapse":false},{"id":"2da645a9.4ee31a","type":"telegram receiver","z":"519de648.d8a6a8","name":"","bot":"dcdad18b.8b6e8","saveDataDir":"","filterCommands":false,"x":340,"y":220,"wires":[["aa32a992.255c38","9aeaa30a.9341b"],["cea139a3.58efc8"]]},{"id":"cea139a3.58efc8","type":"debug","z":"519de648.d8a6a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"dfeadb86.2e0928","type":"telegram sender","z":"519de648.d8a6a8","name":"","bot":"dcdad18b.8b6e8","x":910,"y":180,"wires":[[]]},{"id":"9aeaa30a.9341b","type":"function","z":"519de648.d8a6a8","name":"Random Sentence","func":"randomSentences = [\n    \"Signorina Fanc, grazie per avermi scritto \",\n    \"Esimia Fanc, è un onore ricevere da lei \",\n    \"O Onorevole Fanc, sono onorato di sentirmi dire \",\n    \"Carissima Fanc, che bello che tu mi scriva \",\n    \"Gentilissima Fanc, adoro ricever da te messaggi come \",\n    \"Insomma fanc, basta scrivermi baggianate tipo \",\n    \"BASTAAAAA, NON NE POSSO PIU', scrivi cose più significative di \",\n    \"Eh ma che noia, scrivi solo \",\n    \"Mah uffa, osa qualcosa di più originale di \",\n    \"Dear Fanch, I understand Fanch-languange and I see you wrote \"\n    ];\n msg.payload.content =  randomSentences[Math.floor(Math.random() * randomSentences.length)] + \"\\\"\" +  msg.payload.content + \"\\\"\";\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":40,"wires":[["dfeadb86.2e0928","955f1f68.9d0f4"]]},{"id":"dd90b141.b4f68","type":"change","z":"519de648.d8a6a8","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"\"La fanc ha scritto: \" & $.payload.content","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":180,"wires":[["dfeadb86.2e0928","955f1f68.9d0f4"]]},{"id":"aa32a992.255c38","type":"debug","z":"519de648.d8a6a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"955f1f68.9d0f4","type":"debug","z":"519de648.d8a6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"81db4c43.d9616","type":"telegram receiver","z":"12b9d49.93bce2b","name":"","bot":"dcdad18b.8b6e8","saveDataDir":"","filterCommands":false,"x":130,"y":380,"wires":[["47ec238b.69934c","608ef590.7ef8fc","ce615b79.afd538"],["4b7d0bb6.1f3f44"]]},{"id":"4b7d0bb6.1f3f44","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":540,"wires":[]},{"id":"ec1c6e4d.887d8","type":"telegram sender","z":"12b9d49.93bce2b","name":"","bot":"dcdad18b.8b6e8","x":1010,"y":300,"wires":[[]]},{"id":"608ef590.7ef8fc","type":"function","z":"12b9d49.93bce2b","name":"Random Sentence","func":"randomSentences = [\n    \"Signorina Fanc, grazie per avermi scritto \",\n    \"Esimia Fanc, è un onore ricevere da lei \",\n    \"O Onorevole Fanc, sono onorato di sentirmi dire \",\n    \"Carissima Fanc, che bello che tu mi scriva \",\n    \"Gentilissima Fanc, adoro ricever da te messaggi come \",\n    \"Insomma fanc, basta scrivermi baggianate tipo \",\n    \"BASTAAAAA, NON NE POSSO PIU', scrivi cose più significative di \",\n    \"Eh ma che noia, scrivi solo \",\n    \"Mah uffa, osa qualcosa di più originale di \",\n    \"Dear Fanch, I understand Fanch-languange and I see you wrote \"\n    ];\n msg.payload.content =  randomSentences[Math.floor(Math.random() * randomSentences.length)] + \"\\\"\" +  msg.payload.content + \"\\\"\";\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["ec1c6e4d.887d8","972bbc66.649fd"]]},{"id":"e23a28dd.6fb068","type":"change","z":"12b9d49.93bce2b","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"\"La fanc ha scritto: \" & $.payload.content","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["ec1c6e4d.887d8","972bbc66.649fd"]]},{"id":"47ec238b.69934c","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":460,"wires":[]},{"id":"972bbc66.649fd","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"60db40d1.7b17e","type":"telegram sender","z":"12b9d49.93bce2b","name":"","bot":"dcdad18b.8b6e8","x":1230,"y":760,"wires":[[]]},{"id":"6485347f.1bbe2c","type":"function","z":"12b9d49.93bce2b","name":"alert message elena","func":"var pld = {};\npld.chatId = 852995622;\npld.type = \"message\";\npld.content = msg.payload;\nvar retMsg = {payload: pld};\nreturn retMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":640,"wires":[["60db40d1.7b17e","7dc96943.2a4a28"]]},{"id":"e9e92bfd.d4b818","type":"function","z":"12b9d49.93bce2b","name":"send picture elena","func":"var pl = {\n  content: msg.payload,\n  type : 'photo',\n  chatId: 852995622\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":780,"wires":[["60db40d1.7b17e"]]},{"id":"8e1434cf.e2d638","type":"mqtt in","z":"12b9d49.93bce2b","name":"motion_mobile","topic":"robyhome/mobiledevices/webcam/motion1/main","qos":"0","datatype":"auto","broker":"79ea9a33.a99de4","x":160,"y":640,"wires":[["3dcdfc03.212a94","2c0b0faf.6e14b"]]},{"id":"686cf41f.bb44ec","type":"mqtt in","z":"12b9d49.93bce2b","name":"motion_mobile_picture","topic":"robyhome/mobiledevices/webcam/motion1/main/jpg","qos":"0","datatype":"auto","broker":"79ea9a33.a99de4","x":180,"y":840,"wires":[["d2c15505.ade8d8"]]},{"id":"7a37bd39.23e5d4","type":"mqtt in","z":"12b9d49.93bce2b","name":"motion_mobile_movie","topic":"robyhome/mobiledevices/webcam/motion1/main/avi","qos":"0","datatype":"auto","broker":"79ea9a33.a99de4","x":180,"y":920,"wires":[["81a0e761.6eab08","16710a8b.0ab1e5"]]},{"id":"7a49ba8e.3030c4","type":"function","z":"12b9d49.93bce2b","name":"send movie elena","func":"var pl = {\n  content: msg.payload,\n  type : 'video',\n  chatId: 852995622,\n  blob: true\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":920,"wires":[["60db40d1.7b17e","8c9ff237.10087"]]},{"id":"3dcdfc03.212a94","type":"switch","z":"12b9d49.93bce2b","name":"filter webcam ON","property":"motion_webcam","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":640,"wires":[["6485347f.1bbe2c","a5fdd559.6c3678"]]},{"id":"d2c15505.ade8d8","type":"switch","z":"12b9d49.93bce2b","name":"filter webcam ON","property":"motion_webcam","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":840,"wires":[["451ee8.66b56118"]]},{"id":"81a0e761.6eab08","type":"switch","z":"12b9d49.93bce2b","name":"filter webcam ON","property":"motion_webcam","propertyType":"global","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":920,"wires":[["46ab24aa.9a1e4c"]]},{"id":"16710a8b.0ab1e5","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":980,"wires":[]},{"id":"8c9ff237.10087","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":920,"wires":[]},{"id":"451ee8.66b56118","type":"base64","z":"12b9d49.93bce2b","name":"","action":"","property":"payload","x":700,"y":780,"wires":[["e9e92bfd.d4b818","f00bf50e.e3c788"]]},{"id":"46ab24aa.9a1e4c","type":"base64","z":"12b9d49.93bce2b","name":"","action":"","property":"payload","x":690,"y":920,"wires":[["7a49ba8e.3030c4","d1f50bc.953baf8"]]},{"id":"907842fa.38c14","type":"inject","z":"12b9d49.93bce2b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":760,"wires":[[]]},{"id":"37e53dcb.5a4632","type":"ui_switch","z":"c33bce7c.ed34f","name":"","label":"Sorveglianza","tooltip":"","group":"a072c261.de5ee","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":670,"y":320,"wires":[["abe7bca3.3e35f"]]},{"id":"abe7bca3.3e35f","type":"switch","z":"c33bce7c.ed34f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":320,"wires":[["5d0bd9d4.1e0398"],["e3a0b004.a11a5"]]},{"id":"5d0bd9d4.1e0398","type":"change","z":"c33bce7c.ed34f","name":"","rules":[{"t":"set","p":"motion_webcam","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[[]]},{"id":"e3a0b004.a11a5","type":"change","z":"c33bce7c.ed34f","name":"","rules":[{"t":"set","p":"motion_webcam","pt":"global","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":340,"wires":[[]]},{"id":"b5766415.629b98","type":"inject","z":"c33bce7c.ed34f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"checkWeb","payloadType":"str","x":190,"y":140,"wires":[["2160b9e9.e9a3d6"]]},{"id":"640738dc.213c68","type":"inject","z":"c35b9338.7b7f8","name":"Get IP","repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"ip","payload":"eth0","payloadType":"str","x":140,"y":120,"wires":[["3950e1a.092b31e"]]},{"id":"6b145177.2f743","type":"function","z":"c35b9338.7b7f8","name":"Compare IP","func":"//node.warn(\"OVERFLOW 1\");\ncontext.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\n    context.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\n    msg.payload = currentip;\n    context.lastip = currentip;\n    return msg;\n}\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[["c822fe3b.8c5c5","6950b03.111775"]]},{"id":"3950e1a.092b31e","type":"exec","z":"c35b9338.7b7f8","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":380,"y":120,"wires":[["d61da57d.637ef8"],[],[]]},{"id":"d61da57d.637ef8","type":"switch","z":"c35b9338.7b7f8","name":"Integrity check","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":220,"wires":[["6b145177.2f743"],[]]},{"id":"c822fe3b.8c5c5","type":"http request","z":"c35b9338.7b7f8","name":"Update no-ip.com","method":"GET","paytoqs":"ignore","url":"http://forry2:geminitx@dynupdate.no-ip.com/nic/update?hostname=eoda.loginto.me&myip={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":440,"wires":[[]]},{"id":"4fbc60a3.b6ad3","type":"inject","z":"c35b9338.7b7f8","name":"Test IP address","repeat":"","crontab":"","once":false,"topic":"","payload":"192.168.1.9","payloadType":"string","x":160,"y":320,"wires":[["6b145177.2f743"]]},{"id":"6950b03.111775","type":"change","z":"c35b9338.7b7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Cambiato tuo indirizzo IP di casa: \" & $.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":320,"wires":[["a66481de.f5395"]]},{"id":"a66481de.f5395","type":"link out","z":"c35b9338.7b7f8","name":"send-ip-to-telegram","links":["9836ee84.c6b7d"],"x":765,"y":320,"wires":[]},{"id":"9836ee84.c6b7d","type":"link in","z":"12b9d49.93bce2b","name":"telegram-sender","links":["a66481de.f5395"],"x":825,"y":200,"wires":[["ec1c6e4d.887d8"]]},{"id":"2160b9e9.e9a3d6","type":"ui_template","z":"c33bce7c.ed34f","group":"eab095d7.dacbc8","name":"cameras","order":1,"width":"6","height":"6","format":"<img src=\"http://eoda.loginto.me:41880/wc1\"/>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":380,"y":140,"wires":[[]]},{"id":"2d3a33a6.44e1bc","type":"ui_template","z":"519de648.d8a6a8","group":"eab095d7.dacbc8","name":"cameras","order":1,"width":"6","height":"6","format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 300px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n    document.getElementById('c51').src = \"http://192.168.1.113:8081\";\n    //alert('updated pics');\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<center>\n<table>\n    <tr><!-- Row 1 -->\n    \t\t<td style=\"text-align: center\"><img src=\"\" id=\"c51\" /></td>\n    </tr>\n</table>\n</center>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":300,"y":400,"wires":[[]]},{"id":"d1f50bc.953baf8","type":"function","z":"12b9d49.93bce2b","name":"send movie roberto","func":"var pl = {\n  content: msg.payload,\n  type : 'video',\n  chatId: 881255306,\n  blob: true\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":960,"wires":[["60db40d1.7b17e"]]},{"id":"f00bf50e.e3c788","type":"function","z":"12b9d49.93bce2b","name":"send picture roberto","func":"var pl = {\n  content: msg.payload,\n  type : 'photo',\n  chatId: 881255306\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":820,"wires":[["60db40d1.7b17e"]]},{"id":"a5fdd559.6c3678","type":"function","z":"12b9d49.93bce2b","name":"alert message roberto","func":"var pld = {};\npld.chatId = 881255306;\npld.type = \"message\";\npld.content = msg.payload;\nvar retMsg = {payload: pld};\nreturn retMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":680,"wires":[["60db40d1.7b17e"]]},{"id":"44c0b458.3f8dfc","type":"http in","z":"c33bce7c.ed34f","name":"","url":"/wc1","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["7730a06d.763b6"]]},{"id":"7730a06d.763b6","type":"http-proxy","z":"c33bce7c.ed34f","name":"Webcam proxy","url":"http://192.168.1.113:8081","incomingTimeout":"","outgoingTimeout":"","changeOrigin":false,"preserveHeaderKeyCase":false,"verifyCertificates":false,"followRedirects":true,"toProxy":false,"xfwd":false,"x":440,"y":200,"wires":[]},{"id":"ce615b79.afd538","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":160,"wires":[]},{"id":"84c9e748.d72db8","type":"alexa-home","z":"c33bce7c.ed34f","conf":"2c18788c.327088","device":"114745","acknoledge":true,"name":"sorveglianza","topic":"","x":150,"y":320,"wires":[["12ec5fdf.b0799"]]},{"id":"12ec5fdf.b0799","type":"switch","z":"c33bce7c.ed34f","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["f36b070d.cd68c8"],["48085c9a.504024"]]},{"id":"f36b070d.cd68c8","type":"change","z":"c33bce7c.ed34f","name":"accendi","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["37e53dcb.5a4632","45b2367b.a8e938"]]},{"id":"48085c9a.504024","type":"change","z":"c33bce7c.ed34f","name":"spegni","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["37e53dcb.5a4632","cec7b28d.fa39"]]},{"id":"7dc96943.2a4a28","type":"debug","z":"12b9d49.93bce2b","name":"finale","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":600,"wires":[]},{"id":"2c0b0faf.6e14b","type":"debug","z":"12b9d49.93bce2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":560,"wires":[]},{"id":"13f79c40.c05924","type":"inject","z":"727da380.9439ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["c80a6c30.56013"]]},{"id":"c80a6c30.56013","type":"change","z":"727da380.9439ec","name":"","rules":[{"t":"set","p":"motion_webcam","pt":"global","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[[]]},{"id":"f3ed3d2f.b4dfa","type":"inject","z":"6fcb2314.4e9eac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":320,"wires":[[]]},{"id":"47ff5e58.f176b","type":"debug","z":"6fcb2314.4e9eac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"8da20a91.9eee18","type":"inject","z":"6fcb2314.4e9eac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":460,"wires":[["707c6ca7.cb9444"]]},{"id":"d457c932.324628","type":"inject","z":"6fcb2314.4e9eac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":280,"wires":[[]]},{"id":"707c6ca7.cb9444","type":"alexa-remote-routine","z":"6fcb2314.4e9eac","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"\"outputSpeech\": {\t    \"type\": \"SSML\",\t    \"ssml\": \"<speak>Usa questa frase con sintassi SSML.</speak>\"\t}"},"devices":["G090XG100122046V"]}},"x":440,"y":460,"wires":[[]]},{"id":"6b0708a4.7589e8","type":"inject","z":"9df27eb2.adcd9","name":"","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":310,"y":140,"wires":[["c3be586a.d2ebd8"]]},{"id":"c3be586a.d2ebd8","type":"template","z":"9df27eb2.adcd9","name":"Good Morning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n<s><voice name=\"Celine\">Bonjour!</voice></s>\n<s><voice name=\"Hans\">Guten Morgen!</voice></s>\n<s><voice name=\"Amy\">Good Morning!</voice></s>\n<s><voice name=\"Giorgio\">Buongiorno!</voice></s>\n<s><voice name=\"Enrique\">¡Buenos días!</voice></s>\n</speak>","output":"str","x":460,"y":140,"wires":[["5a54cd79.e456e4"]]},{"id":"6ea37b8c.c65ad4","type":"template","z":"9df27eb2.adcd9","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<prosody volume=\"x-loud\">This is louder.</prosody>\n<prosody volume=\"x-soft\">This is quieter.</prosody>\n<prosody rate=\"50%\">This is slow.</prosody>\n<prosody rate=\"150%\">This is fast.</prosody>\n<prosody pitch=\"-33.3%\">This is deep.</prosody>\n<prosody pitch=\"+50%\">This is high.</prosody>\n<amazon:effect name=\"whispered\">This is whispering.</amazon:effect>\n</speak>","output":"str","x":430,"y":180,"wires":[["5a54cd79.e456e4"]]},{"id":"c32aacdc.ac88a","type":"inject","z":"9df27eb2.adcd9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":310,"y":180,"wires":[["6ea37b8c.c65ad4"]]},{"id":"5a54cd79.e456e4","type":"alexa-remote-routine","z":"9df27eb2.adcd9","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":660,"y":180,"wires":[[]]},{"id":"7c41170.648f4e8","type":"template","z":"9df27eb2.adcd9","name":"Time and Date","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n    Time 08:30.\n    Duration <say-as interpret-as=\"time\">12'3\"</say-as>.\n    Date <say-as interpret-as=\"date\" format=\"dmy\">28/02/2020</say-as>.\n</speak>","output":"str","x":460,"y":220,"wires":[["5a54cd79.e456e4"]]},{"id":"eb3a7b6d.69d8e8","type":"inject","z":"9df27eb2.adcd9","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":310,"y":220,"wires":[["7c41170.648f4e8"]]},{"id":"a0a4bcd3.17d2","type":"inject","z":"9df27eb2.adcd9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":300,"wires":[["e762a6aa.e81f78"]]},{"id":"e762a6aa.e81f78","type":"template","z":"9df27eb2.adcd9","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n\n<amazon:effect name=\"whispered\">Sorveglianza attivata</amazon:effect>\n\n</speak>","output":"str","x":570,"y":300,"wires":[["93767fa9.cd159"]]},{"id":"93767fa9.cd159","type":"alexa-remote-routine","z":"9df27eb2.adcd9","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":730,"y":300,"wires":[[]]},{"id":"45b2367b.a8e938","type":"template","z":"c33bce7c.ed34f","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n\n<amazon:effect name=\"whispered\">Sorveglianza attivata</amazon:effect>\n\n</speak>","output":"str","x":630,"y":240,"wires":[["150f4f7f.eda6d1"]]},{"id":"150f4f7f.eda6d1","type":"alexa-remote-routine","z":"c33bce7c.ed34f","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":806,"y":240,"wires":[[]]},{"id":"cec7b28d.fa39","type":"template","z":"c33bce7c.ed34f","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n\n<amazon:effect name=\"whispered\">Sorveglianza disattivata</amazon:effect>\n\n</speak>","output":"str","x":630,"y":380,"wires":[["c650f39b.6c107"]]},{"id":"c650f39b.6c107","type":"alexa-remote-routine","z":"c33bce7c.ed34f","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":800,"y":380,"wires":[[]]},{"id":"b3cd484d.f8e618","type":"ui_ui_control","z":"9df27eb2.adcd9","name":"","events":"all","x":100,"y":480,"wires":[["fda99f0c.a6dbb","8d26633e.ea2a2"]]},{"id":"c568d8be.f22348","type":"switch","z":"9df27eb2.adcd9","name":"Source IP Dictionary","property":"$env($.socketip)","propertyType":"jsonata","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":620,"wires":[["9a1170b2.3ad46","d119a58a.9b61d8"],["c7510628.78e618"]]},{"id":"9a1170b2.3ad46","type":"debug","z":"9df27eb2.adcd9","name":"BLANK","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":540,"wires":[]},{"id":"c7510628.78e618","type":"debug","z":"9df27eb2.adcd9","name":"OTHERWISE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":720,"wires":[]},{"id":"d119a58a.9b61d8","type":"random","z":"9df27eb2.adcd9","name":"","low":"0","high":"9999","inte":"true","property":"payload","x":655.0000076293945,"y":613.0000076293945,"wires":[["c39784b8.f84098"]]},{"id":"c39784b8.f84098","type":"function","z":"9df27eb2.adcd9","name":"","func":"otp = msg.payload.toString().padStart(4, \"0\")\nglobal.set(\"otp['msg.socketip']]\" , otp)\nmsg.payload = \"Authentication\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800.0000114440918,"y":613.0000076293945,"wires":[["ff133d51.51e2b","70c8fa21.3cf784"]]},{"id":"ae92b158.2eba","type":"switch","z":"9df27eb2.adcd9","name":"Is Change UI Page?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":540,"wires":[["358705a1.9b11ea"]]},{"id":"ff133d51.51e2b","type":"ui_ui_control","z":"9df27eb2.adcd9","name":"","events":"all","x":840,"y":500,"wires":[[]]},{"id":"70c8fa21.3cf784","type":"debug","z":"9df27eb2.adcd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":540,"wires":[]},{"id":"358705a1.9b11ea","type":"switch","z":"9df27eb2.adcd9","name":"Not Authentication Page?","property":"name","propertyType":"msg","rules":[{"t":"neq","v":"Authentication","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":580,"wires":[["c568d8be.f22348"]]},{"id":"494777e.b93d188","type":"debug","z":"9df27eb2.adcd9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":380,"wires":[]},{"id":"99b7e4a3.3cb5d8","type":"ui_button","z":"9df27eb2.adcd9","name":"","group":"e6280421.e5fa38","order":1,"width":0,"height":0,"passthru":false,"label":"Enter OTP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"topic\":\"OTP\", \"title\":\"Enter OTP\", \"label\" : \"OTP\" }","payloadType":"json","topic":"show","x":110,"y":880,"wires":[["d45a196b.1c0038"]]},{"id":"c353011d.ba612","type":"debug","z":"9df27eb2.adcd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":920,"wires":[]},{"id":"d45a196b.1c0038","type":"ui_template","z":"9df27eb2.adcd9","group":"60a9ae6.92cf15","name":"User Input dialog","order":1,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"popup_dialog\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 class=\"title\">{{payload.title}}</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                 <md-input-container>\n                    <label>{{payload.label}}</label>\n                    <input ng-model=\"userInput\">\n                  </md-input-container>\n         \n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"btn_box\">\n                        <md-button class=\"btn\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon> OK\n                        </md-button>\n                    </div>\n    \n                    <div class=\"btn_box\">\n                        <md-button class=\"btn\" ng-click=\"closeDialog()\">\n                            <ng-md-icon icon=\"close\" style=\"color:#fff;\"></ng-md-icon> Cancel\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\nh2.title {\n    margin:10px;\n    font-size: 20px;\n}\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* Number container */\n.btn_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.btn {\n    min-height: 40px;\n    min-width: 80px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.btn:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n\n</style>\n\n<script>\n\n/**\n * Steve-Mcl 2020-03-30\n * Adapated from the excellent work by Daniel Lando, https://github.com/robertsLando\n * to be the basis of a user input popup form\n * Original licence below...\n * *********************************************************************************\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n * **********************************************************************************\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    scope.userInput = \"\";\n    scope.payload = \"\";\n    scope.topic = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.userInput = \"\";\n        //Hide the md-panel\n        $('#popup_dialog').parent().parent().css(\"display\", \"none\");\n        dialog = $('#popup_dialog').detach();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body); // better to add the body only when the numpad is displayed (seams to be removed automatically)\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        scope.userInput = \"\";\n        scope.payload = \"\";\n        scope.topic = \"\";\n        dialog.css(\"display\", \"none\");\n    }\n    \n\n    scope.confirm = function() {\n        scope.send({topic: scope.payload.topic || scope.topic, userInput: scope.userInput});\n        scope.closeDialog();\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.topic = data.topic;\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":310,"y":920,"wires":[["c353011d.ba612"]]},{"id":"a4161726.b923d8","type":"ui_button","z":"727da380.9439ec","name":"","group":"74479505.3bb24c","order":1,"width":0,"height":0,"passthru":false,"label":"Power Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":200,"wires":[["dbf2bbb8.94f978"]]},{"id":"dbf2bbb8.94f978","type":"exec","z":"727da380.9439ec","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":200,"wires":[[],[],[]]},{"id":"a772d06e.d0444","type":"ui_button","z":"727da380.9439ec","name":"","group":"74479505.3bb24c","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":280,"wires":[["e5d72612.571988"]]},{"id":"e5d72612.571988","type":"exec","z":"727da380.9439ec","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":280,"wires":[[],[],[]]},{"id":"fda99f0c.a6dbb","type":"debug","z":"9df27eb2.adcd9","name":"UI-ENTER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":400,"wires":[]},{"id":"b5e4044e.3097e8","type":"switch","z":"9df27eb2.adcd9","name":"Surveillance page?","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Surveillance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":460,"wires":[["6de29e64.8c161"]]},{"id":"6de29e64.8c161","type":"alexa-remote-routine","z":"9df27eb2.adcd9","name":"","account":"d40bf548.f0e988","routineNode":{"type":"speakAtVolume","payload":{"type":"announcement","text":{"type":"str","value":"Qualcuno sta guardando dalla webcam"},"volume":{"type":"num","value":"50"},"mode":"set","devices":["G090XG100122046V"]}},"x":590,"y":480,"wires":[[]]},{"id":"8d26633e.ea2a2","type":"switch","z":"9df27eb2.adcd9","name":"Is Change UI Page?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":500,"wires":[["b5e4044e.3097e8"]]}]